.title {
	margin: 5px 0;
}

.title p {
	margin: 0;
}

.forum-item-container {
	padding: 10px;
	border-bottom: solid 1px lightgrey;
	letter-spacing: 1px;
	line-height: 1.2em;
	cursor: pointer;
	transition: 0.5s;
}

.user-photo {
	background-color: black;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 15px;
}


.forum-text p {
	padding: 0 5px;
	padding-right: 50px;
	font-size: 0.75em;
	line-height: 1.0em;
	margin-bottom: 0;
}

.comment-count {
	color: grey;
}

.page-index {
	cursor: pointer;
	font-size: 0.75em;
	font-weight: bold;
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	margin-top: 10px;
	text-align: center;
	line-height: 16px;
	border-bottom: 1px solid black;
}

fieldset, textarea, input[type="text"], input[type="submit"] {
	padding: 6px;
	border: 1px solid grey;
	border-radius: 5px;
	background-color: transparent;
	margin: 3px;
}

textarea, input[type="text"] {
	width: 70%;
}

textarea {
	resize: none;
	vertical-align: middle;
}

input[type="submit"] {
	font-size: 1em;
}